<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Az Leilões</title>
</head>
<body>
   <header>
       <ul>
           <li><a href="#comprador">Comprador</a></li>
           <li><a href="#empresa">Empresa</a></li>
           <li><a href="#leilao">Leilão</a></li>
           <li><a href="#lote">Lote</a></li>
       </ul>
   </header>
   <section>
       <h2 id="#comprador">Comprador</h2>
   </section>
   <section>
       <h2 id="#empresa">Empresa</h2>
   </section>
   <section>
       <h2 id="#leilao">Leilao</h2>
   </section>
   <section>
       <h2 id="#lote">Lote</h2>
   </section>
</body>
</html>